.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgba(225,225,225, 0.1);
    background-color:transparent;
    backdrop-filter: blur (15px);
}
.itens{
    justify-items: center;

    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0, 0.1);
    background-color:transparent;
    backdrop-filter: blur (15px);
}
.itens h1{
    padding: 2px;
    font-size: 25px;
}
.itens p{
    padding: 5px;
    width: 80%;
}


img{
    margin: 15px;
    width: 420px;
    max-width: 420px;
    min-width: 80px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0, 0.1);
}
#jpf{
    width: 200px;
    height: 150px;
}
